@{
    Layout = "Empty";
    var search = (@Request.PathInfo ?? "").SplitOnLast("/").Last().Trim();
}
<!DOCTYPE HTML>
<html>
<head>
    <title>404 not found</title>
    <style>
        body {
            background: #0000aa;
            color: #ffffff;
            font-family: courier;
            font-size: 12pt;
            text-align: left;
            margin: 120px;
        }

        .neg {
            background: #fff;
            color: #0000aa;
            padding: 2px 8px;
            font-weight: bold;
            border: none;
        }

        p, form {
            margin: 30px 0px;
        }

        a, a:hover {
            color: inherit;
            font: inherit;
        }

        input[type="search"] {
            background: #0000aa;
            color: #ffffff;
            font-family: courier;
            font-size: 12pt;
            border: solid 1px white;
        }

        .menu {
            text-align: center;
            margin-top: 80px;
        }
    </style>
</head>
<body>
    <span class="neg">ERROR 404</span>
    <p>
        We're sorry <b>@Request.PathInfo</b> is no longer here.
    </p>
    @if (!string.IsNullOrEmpty(search))
    {
        <p>Maybe Google has it?</p>
        <form action="https://www.google.com/search" method="GET">
            <input type="search" name="q" value="@search"/>
            <input type="submit" value="Search" class="neg" />
        </form>
    }
    <div class="menu">
        <a href="@Url.Content("~/")">davetimmins blog</a>
    </div>
</body>
</html>

