<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Oops</title>
</head>
<body style="text-align: center">
    <img src="Assets/broken.jpg" alt="Its broken" width="600" height="450" />
</body>
</html>
