<?xml version="1.0"?>
<configuration>
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="public;max-age" />
        </customHeaders>
      </httpProtocol>
      <urlCompression doDynamicCompression="false" doStaticCompression="true"/>
    </system.webServer>
</configuration>
