<br />
Share on 
<a target="_blank" href="https://twitter.com/intent/tweet?url=@Request.AbsoluteUri&text=@ViewBag.Title&via=davetimmins"><i class="fa fa-twitter-square fa-2x"></i> Twitter</a>

<a target="_blank" href="https://facebook.com/sharer.php?u=@Request.AbsoluteUri"><i class="fa fa-facebook-square fa-2x"></i> Facebook</a>

<a target="_blank" href="https://plus.google.com/share?url=@Request.AbsoluteUri"><i class="fa fa-google-plus-square fa-2x"></i> Google+</a>
<br />
